*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    user-select:none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 1000;
    padding: 10px 5px;
    height: 75px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    text-align: center;
    line-height: 160px;
}

header.shrink {
    padding: 10px 5px;
    height: 60px;
    line-height: 80px;
    background: #ff4202;
    font-size: 24px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    box-shadow: 0 0 4px black;
}

header {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    user-select: none;
}

a {
    color: inherit;
}

.index-bg {
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    z-index: 10;
    position: relative;
    background-position:center;
}

.container-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0 5%;
}

.header-brand {
    width: 12.5%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.header-menu {
    width: 50%;
    padding: 0;
    line-height: normal;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}

.header-lang {
    width: 12.5%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.brand-text {
    color: white;
    font-family: "Palatino Linotype";
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    cursor: pointer;
        -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}

.brand-text-e {
    font-size: 20px !important;
    line-height: 22px !important;
    -webkit-transition: 300ms !important;
    -moz-transition: 300ms !important;
    -ms-transition: 300ms !important;
    -o-transition: 300ms !important;
    transition: 300ms !important;
}

.candibober-brand {
    content: "";
    position: absolute;
    background-image: url(../img/ca.svg);
    background-repeat: no-repeat;
    height: 20px;
    top: 75px;
    background-size: cover;
    left: calc(5% + 15px);
    width: 70px;
    z-index: 90;
}

.header-menu ul {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.header-menu li {
    display: inline-flex;
    display: -webkit-inline-flex;
    color: black;
    font-family: "sans";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    line-height: 52px;
    border: 4px solid transparent;
}

.white {
    color: white !important;
}

.header-lang-block {
    width: 50px;
    height: 38px;
    color: white;
    font-family: "sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 66, 2, 0.3);
}

.header-lang-block-selected {
    background-color: #ff4202;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* ALL */

.row .three {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}

.hamburger .line {
    width: 35px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
}

.index-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-header {
    color: #da3b38;
    font-family: "corsiva";
    font-size: 59px;
}

.index-description {
    color: black;
    font-family: "sans";
    font-size: 21px;
    text-transform: uppercase;
}

.index-button {
    background-color: #ff4202;
    display: flex;
    color: white;
    font-family: "corsiva";
    font-size: 29px;
    font-weight: 400;
    padding: 5px 50px;
    margin-top: 10vh;
}

.drop-shadow {
    position: relative;
}

.drop-shadow:before,
.drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
}

.drop-shadow p {
    font-size: 16px;
    font-weight: bold;
}

.lifted:before,
.lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 10%;
    max-width: 300px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7);
    transform: rotate(-10deg);
}

.lifted:after {
    right: 10px;
    left: auto;
    transform: rotate(10deg);
}

.services-header {
    color: black;
    font-family: "corsiva";
    font-size: 46px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

img.service-candibober {
    height: 31px;
    width: 100%;
    position: relative;
    top: -5px;
}

.service-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.service-tile-header {
    color: #f34c13;
    font-family: "corsiva";
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.service-tile-description {
    color: #646058;
    font-family: "sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 15px;
}

.services-content {
    padding: 50px 0 60px 0;
}
.row{
    margin: 0;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.services-carousel {
    height: 335px;
    margin-top: 30px;
}
.services-carousel-slide{
    height: 335px;
    background-image:url(../img/sl1.png);
    background-repeat: no-repeat;
    position: relative;
}
.services-carousel-slide:before{
content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: right top;
    background-image: url(../img/sl1b.png);
    background-repeat: no-repeat;
}
.services-carousel-slide-header {
    color: white;
    font-weight: 400;
    font-family: "corsiva";
    font-size: 45px;
    position: relative;
    z-index: 10;
        text-align: right;
    padding: 75px;
}
.services-carousel-slide-description {
    color: white;
    font-weight: 400;
    font-family: "sans";
    font-size: 20px;
    text-align: right;
    position: relative;
    padding: 0 75px;
}
.cosiness-block {
    background-image: url(../img/img.png);
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.cosiness-header {
    color: white;
    font-family: "corsiva";
    font-size: 44px;
    font-weight: 400;
    line-height: 45px;
    padding: 30px;
    margin-top: 30px;
}
.cosiness-description {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
    color: white;
    line-height: 24px;
    font-family: "sans";
    font-size: 16px;
    font-weight: 700;
    width: 79%;
    margin-bottom: 40px;
}
.cosiness-footer {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
    color: white;
    line-height: 24px;
    font-family: "Palatino Linotype";
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    width: 80%;
        margin-top: 30px;
        margin-bottom: 70px;
}
.advantage-header {
    color: black;
    font-family: "Palatino Linotype";
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    font-style: italic;
    position: relative;
    top: -25px;
}
.advantage-candibober{
    margin-bottom: 35px;
}
.advantage-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
.advantage-description {
    color: black;
    font-family: "sans";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    display: flex;
    line-height: 22px;
}
.advantage-block {
    margin-bottom: 40px;
}
img.advantage-img {
    height: 102px;
}