/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-lang {
        width: 75%;
        padding: 0 5%;
        justify-content: flex-end;
    }
    .header-menu ul {
        flex-direction: column;
    }
    .header-menu {
width: 100%;
    position: fixed;
    left: 0;
    background: #ff4202;
    flex-direction: column;
    top: 75px;
    height: 220px;
    z-index: 9999;
    }
    .header-menu li {
        line-height: 35px;
        color: white;
        display: flex;
        display: -webkit-flex;
    justify-content: center;
    width: 100%;
    }
    
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
	
	.index-header {
    color: #da3b38;
    font-family: "corsiva";
    font-size: 50px;
    text-align: center;
    line-height: 45px;
}
.index-description {
    color: black;
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}
.index-button {
    font-size: 25px;
}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {
	
	img.service-candibober {
    margin-bottom: 25px;
}
.service-tile-description {
    padding: 0px 45px;
    text-align: center;
}
.index-button {
    padding: 5px 45px;
}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}