/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-lang {
        width: 75%;
        padding: 0 5%;
        justify-content: flex-end;
    }
    .header-menu ul {
        flex-direction: column;
    }
    .header-menu {
width: 100%;
    position: fixed;
    left: 0;
    background: #ff4202;
    flex-direction: column;
    top: 75px;
    height: 220px;
    z-index: 9999;
    }
    .header-menu li {
        line-height: 35px;
        color: white;
        display: flex;
        display: -webkit-flex;
    justify-content: center;
    width: 100%;
    }
   .candibober-brand {
    background-image: url(../img/cb.svg);
        width: 76px;
} 
.brand-text {
    color: black;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}  

.shrink .container-header .candibober-brand {
    background-image: url(../img/cb.svg);
        width: 76px;
        -webkit-transition: 150ms;
        -o-transition: 150ms;
        transition: 150ms;
} 
.shrink .container-header .brand-text {
    color: white;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.header-menu>li:hover {
border-bottom: 4px solid transparent;
border-left: 4px solid white;
    border-top: 5px double transparent;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}
.shrink .container-header .header-menu>li:hover {
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
    border-top: 4px solid transparent;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}
.map-contacts-stack {
    margin-top: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    background-color: rgba(219,183,171, 0.13);
}
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
	
	.index-header {
    color: #da3b38;
    font-family: "corsiva";
    font-size: 50px;
    text-align: center;
    line-height: 45px;
}
.index-description {
    color: black;
    font-family: "sans";
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}
.index-button {
    font-size: 25px;
}
.services-carousel-slide-header {
    color: white;
    font-weight: 400;
    font-family: "corsiva";
    font-size: 38px;
    position: relative;
    z-index: 10;
    text-align: center;
    line-height: 45px;
    margin: 75px;
    padding: 0;
    background-color: #ff4202;
}
.services-carousel-slide:before {
   background-image: none;
}
.services-carousel-slide-description {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 0;
    background-color: #ff4202;
    width: 60%;
}
.cosiness-header {
    font-size: 35px;
    line-height: 40px;
}
.cosiness-description {
    line-height: 23px;
    font-size: 14px;
    width: 77%;
}
.cosiness-footer {
    line-height: 20px;
    font-size: 22px;
    width: 80%;
}
.brand-text {
    color: black;
    -webkit-transition: 300ms;
       -moz-transition: 300ms;
        -ms-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.b1{
    display: none;
}
.map-contacts-stack {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map-form {
    width: 80%;
    margin-top: 30px;
}
.map-contacts {
    width: 80%;
}
}

@media only screen and (max-width: 550px) {
    .services-carousel-slide-header {
    color: white;
    font-weight: 400;
    font-size: 30px;
    position: relative;
    z-index: 10;
    text-align: center;
    line-height: 38px;
    margin: 70px 80px;
    padding: 0;
    background-color: #ff4202;
}
.services-carousel-slide-description {
    color: white;
    font-weight: 400;
    font-family: "sans";
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: #ff4202;
    width: 58%;
    position: relative;
    top: -10px;
}
.services-header {
    text-align: center;
    line-height: 45px;
}
.b1{
    display: block;
}
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {
	
img.service-candibober {
    margin-bottom: 0px;
}
img.advantage-candibober {
    margin-bottom: 25px;
}
.service-tile-description {
    padding: 0px 45px;
    text-align: center;
}
.index-button {
    padding: 5px 45px;
}
.services-carousel-slide-header {
    color: white;
    font-weight: 400;
    font-family: "corsiva";
    font-size: 28px;
    position: relative;
    z-index: 10;
    text-align: center;
    line-height: 32px;
    margin: 70px 80px;
    padding: 0;
    background-color: #ff4202;
}
.services-carousel-slide-description {
    color: white;
    font-weight: 400;
    font-family: "sans";
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: #ff4202;
    width: 58%;
    position: relative;
    top: -30px;
}
.container-fluid-map {
    padding: 0;
    height: 400px;
    position: relative;
    width: 100%;
    z-index: 9999;
}
#map {
    height: 400px;
    width: 100%;
    z-index: 9999;
}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    
}